@charset "UTF-8";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	padding: 2rem;
	background-color: rgb(52, 152, 219);
	color: white;
	text-shadow: 1px 1px 1px black;
	text-align: center;
}

nav {
	background-color: rgb(94, 94, 94);
	color: white;
}

nav ul {
	display: flex;
	list-style: none;
}

nav a {
	display: inline-block;
	padding: 12px 16px;
	text-decoration: none;
	/* 
		a tag 를 감싸고 있는 
		누군가의 color를 상속 
		*/
	color: inherit;
}

nav a:hover {
	background-color: #eee;
	color: black;
}

section {
	flex: 1;
	width: 95%;
	border: 1px solid blue;
	margin: 0 auto; display : flex;
	align-items: center;
	display: flex;
}

footer {
	background-color: blue;
	color: white;
	text-align: center;
	pading: 0.8rem;
}