<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  	<style th:inline="text">
  		[(${css})]
  	</style>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>고려고교 성적처리 2022</title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" 
			th:href="@{/static/css/main.css?2022-7-25-002}">
	<link rel="stylesheet" 
			th:href="@{/static/css/student_list.css}">
	<link rel="stylesheet" 
			th:href="@{/static/css/student_detail.css?2022-7-25-001}">
	
	<script th:inline="javascript">
		// thymeleaf 의 rootPath 를 Script 로 전달하기 위한 변환
		const rootPath = /*[[@{/}]]*/ /
	</script>		
	<script th:src="@{/static/js/main.js?2022-07-25-001}"></script>
	<script th:src="@{/static/js/student_list.js?2022-07-26-001}"></script>		
</head>		
		
		
		