<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.images.persistance.SelfitDao">
  
 	<select id="selectDayHealth" resultType="WorkOutDTO">
 		SELECT * FROM view_workout
 		WHERE sl_scid = #{sc_id} AND sl_listid= #{sc_listid}	
 	</select>
 
 	<select id="selectWorkOut" resultType="WorkOutDTO">
 		SELECT * FROM view_workout
 		WHERE sl_scid = #{sc_id}
 		ORDER BY sc_num, sc_day
 	</select>
 
 
 	<select id="workOutView" resultType="WorkOutDTO">
 		SELECT * FROM view_workout	
 		WHERE sl_scid = #{sl_scid}
 	</select>
 	
 	<select id="selectStartMenu" resultType="StartMenuDTO">
 		SELECT sc_num, sc_label, sc_division
			FROM tbl_sch
			GROUP BY sc_num, sc_label, sc_division
			ORDER BY sc_num
 	</select>

 	<select id="selectByScNum" resultType="StartMenuDTO">
 		SELECT sc_num, sc_label, sc_division
			FROM tbl_sch
			WHERE SUBSTR(sc_num,1,2) = #{sc_num}
			GROUP BY sc_num, sc_label, sc_division
			ORDER BY sc_num
 	</select>

 	
 	<select id="selectDaySet" resultType="StartMenuDTO">
 		SELECT sc_id, sc_num, sc_label, sc_division, sc_day, sc_part
 		FROM tbl_sch
 		WHERE sc_num = #{sc_num}
 	</select>
 
 
 
 	<select id="create_bbs_table">
	 	CREATE TABLE tbl_bbs (
	 			b_seq NUMBER PRIMARY KEY,
		        b_date VARCHAR2(10)  NOT NULL,
		        b_time VARCHAR2(10) NOT NULL,	
		        b_writer VARCHAR2(125)	NOT NULL,	
		        b_subject nVARCHAR2(125) NOT NULL,	
		        b_content nVARCHAR2(1000) NOT NULL
		)
 	</select>
 
 
 
 
 </mapper> 