<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.todo.persistance.UserDao">
 
 	<select id="selectAll" resultType="UserVO">
 		SELECT * FROM tbl_users
 	</select>
 	<select id="findById" resultType="UserVO">
 		SELECT * FROM tbl_users
 		WHERE username = #{username}
 	</select>
 	
 	<!-- 권한 정보 불러오기 -->
 	<select id="select_auths" resultType="AuthorVO">
 		SELECT * FROM tbl_authorities WHERE username = #{uesrname}
 	</select>
 	
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 	
 	<select id="create_user_table">
 	CREATE TABLE IF NOT EXISTS tbl_users (
		username VARCHAR(20) PRIMARY KEY,
		password  VARCHAR(20) NOT NULL,
		Enabled BOOLEAN DEFAULT FALSE,
		AccountNonExpired  BOOLEAN DEFAULT TRUE,
		AccountNonLocked  BOOLEAN  DEFAULT TRUE,
		CredentialsNonExpired  BOOLEAN  DEFAULT TRUE,
		
		email  VARCHAR(30),
		tel  VARCHAR(15),
		realname  VARCHAR(20),
		nickname  VARCHAR(20)
	)
 	</select>
 	<select id="create_auth_table">
 	CREATE TABLE IF NOT EXISTS tbl_authorities (
		seq BIGINT AUTO_INCREMENT PRIMARY KEY,
    	username VARCHAR(20),
    	authority VARCHAR(20)
	)
 	</select>
 
 </mapper> 