@charset "UTF-8";
	ul.student {
		list-style: none;
		display: flex;
	}
	ul.student:nth-of-type(even) {
		background-color: #eee;
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
	}
	li.student {
		padding:12px 16px;
		flex:1;
	}
	
	li.student.staddr {
		flex:3
	}
