<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.sec.psersistance.UserDao">
 
 	<select id="selectAll" resultType="UserVO">
 		SELECT * FROM tbl_users
 	</select>
 	
 	<resultMap type="UserVO" id="userAndAuthorities">
 		<id column="username" property="username"/>
 		<collection property="authorities" column="username"
 			ofType="AuthorityVO"
 			select="roleSelect" >
 		</collection>
 	</resultMap>
 	
 	<select id="findById" resultType="UserVO">
 		SELECT * FROM tbl_users 
 		WHERE username=#{username}
 	</select>
 	<insert id="insert" parameterType="UserVO">
 		INSERT INTO tbl_users( 
 			username, 
 			password,
 			enabled,
 			realname,
 			nickname,
 			tel 
 		)
 		VALUES( 
 			#{username}, 
 			#{password},
 			#{enabled},
 			#{realname},
 			#{nickname},
 			#{tel} 
 		)
 	</insert>
 	<update id="update">
 		UPDATE tbl_users
 			SET  
 			password = #{password},
 			realname = #{realname},
 			nickname = #{nickname},
 			tel = #{tel}
 		WHERE username = #{username}
 	</update>
 	<delete id="delete"></delete>
 	
 	<select id="roleSelect" resultType="AuthorityVO">
 		SELECT * FROM tbl_authorities WHERE username=#{username}
 	</select>
 	
 	<insert id="roleInsert" parameterType="AuthorityVO">
 		INSERT INTO tbl_authorities (username, authority)
 		VALUES
 		<foreach collection="list" item="vo" separator=", ">
 				( #{vo.username}, #{vo.authority} )
 		</foreach>
 	</insert>
 	
 	
 	
 	<select id="create_uesr_table">
		 	CREATE TABLE IF NOT EXISTS tbl_users (
				username VARCHAR(20) PRIMARY KEY,
				password  VARCHAR(255) NOT NULL,
				Enabled BOOLEAN DEFAULT FALSE,
				AccountNonExpired  BOOLEAN DEFAULT TRUE,
				AccountNonLocked  BOOLEAN  DEFAULT TRUE,
				CredentialsNonExpired  BOOLEAN  DEFAULT TRUE,
				
				email  VARCHAR(30),
				tel  VARCHAR(15),
				realname  VARCHAR(20),
				nickname  VARCHAR(20)
			)
 	
 	
 	</select>
 
 	<select id="create_author_table">
		 	CREATE TABLE IF NOT EXISTS tbl_authorities (
				seq BIGINT AUTO_INCREMENT PRIMARY KEY,
			    username VARCHAR(20),
			    authority VARCHAR(20)
			)
 	</select>
 
 	
 
 </mapper> 