@charset "UTF-8";
form {
	width: 60vw;
	margin:30px auto;
	border:1px solid blue;
}

form div {
	display: flex;
	border:1px solid green;
}

form input, form textarea {
	flex:1;
}

input, textarea, button {
	letter-spacing: -0.2px;
	font-size: 1rem;	
	margin:5px;
}

