@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section.main {
  flex: 1;
}

footer {
  text-align: center;
}

footer.main {
  background-color: skyblue;
}
