<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<Pattern>[%-5level] %c{5} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="com.callor.school.controller" 
			level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<root level="WARN">
		<appender-ref ref="STDOUT"/>
	</root>
	
</configuration>